# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
./idea
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist

yarn.lock
package-lock.json

# misc
.env

